version: "3.3"
services:
    devmail_backend:
        build:
            context: .
            dockerfile: ./config_docker/backend.dockerfile
        env_file: production.env
        command: ./dist/b-main/index.js
        expose:
            - "5000"
        ports:
            - 587:5001
        networks:
            - devmail
            - proxy
        depends_on:
            - postgres
        labels:
            - "traefik.enable=true"
            - "traefik.http.middlewares.devmail_backend_stripprefix.stripprefix.prefixes=/api"
            - "traefik.http.routers.devmail_backend.middlewares=devmail_backend_stripprefix"
            - "traefik.http.routers.devmail_backend.rule=Host(`devmail.kleselcodes.de`) && PathPrefix(`/api`)"
            - "traefik.http.routers.devmail_backend.entrypoints=websecure"
            - "traefik.http.routers.devmail_backend.tls.certresolver=myresolver"
            - "traefik.http.services.devmail_backend.loadbalancer.server.port=5000"

            # - "traefik.tcp.routers.smtp.rule=HostSNI(`*`)"
            # - "traefik.tcp.routers.smtp.entrypoints=smtp"
            # - "traefik.tcp.services.smtp.loadbalancer.server.port=5001"
            # - "traefik.tcp.routers.smtp1.rule=HostSNI(`*`)"
            # - "traefik.tcp.routers.smtp1.entrypoints=smtp2"
            # - "traefik.tcp.services.smtp1.loadbalancer.server.port=5001"
            # - "traefik.tcp.routers.smtptls.rule=HostSNI(`*`)"
            # - "traefik.tcp.routers.smtptls.entrypoints=smtpsecure"
            # - "traefik.tcp.services.smtptls.loadbalancer.server.port=5001"
            # - "traefik.tcp.routers.smtptls.tls.certresolver=certificate"

    postgres:
        image: postgres
        restart: always
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: devmail
        networks:
            - devmail
        volumes:
            - pgdata:/var/lib/postgresql/data

    inbox-ui:
        build:
            context: .
            dockerfile: ./config_docker/inbox.ui.dockerfile
        env_file: inbox.production.env
        networks:
            - proxy
        expose:
            - "80"
        depends_on:
            - devmail_backend
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.inbox-ui.rule=Host(`devmail.kleselcodes.de`)"
            - "traefik.http.routers.inbox-ui.entrypoints=websecure"
            - "traefik.http.routers.inbox-ui.tls.certresolver=myresolver"

networks:
    devmail:
    proxy:
        external:
            name: "traefik_proxy"

volumes:
    pgdata:
